a{
    text-decoration: none;
    color:#588157;
}
a:hover{
    color: blue;
    text-decoration:underline;
}
li{
    color: #344e41;
    font-size: 20px;
}
body{
    background-color:rgb(175, 236, 173);
}
h1{
    text-align: center;
    font-size: 50px;
    color: #588157;
    text-decoration: underline;
}
h2{
    text-align: center;
    font-size: 30px;
    color: #588157;
    text-decoration: underline;
}